/* 
========================================
DEFAULT OVERRIDES
======================================== 
*/

body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

p {
	font-size: 12px;
	font-weight: 300;
	color: rgb(40,40,40);
}

hr {

}

/* 
========================================
TYPE
======================================== 
*/

.t1 {
	font-size: 18pt;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1.25pt;
	margin-top: 32px;
}

.t2 {
	font-size: 14pt;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1pt;
}

.t3 {
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.75pt;
}

.t4 {
	font-weight: 700;
}

.p1 {

}

.p2 {
	font-size: 8pt;
}

.totalScore1 {
	font-size: 60pt;
	font-weight: 900;
}

.totalScore2 {
	font-weight: 100;
}

.plusMinus {
	font-weight: 900;
}

.w900 {
	font-weight: 900;
}

/* 
========================================
COLORS
======================================== 
*/

.gray {
	color: rgb(152,152,152);
}

.green {
	color: rgb(123,204,196);
}

.red {
	color: rgb(255,116,116);
}

/* 
======================================== 
SECTION DIV CONTAINERS 
======================================== 
*/

.sessionInfo {
	
}

.coreInfo {

}

.behaviorCounts {

}

.sessionView {

}

/* 
========================================
CHARTS & GRAPHS 
======================================== 
*/

.pieChart {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: rgb(123,204,196);
}

.barChart {
	width: auto;
	height: 450px;
	background: rgba(123,204,196,0.5);
}

.barTemp {
	width: auto;
	height: 18px;
	background: rgba(123,204,196,0.5);
}

.therapistBox {
	float: left;
	width: 18px;
	height: 18px;
	background: rgba(123,204,196,0.5);
	margin-right: 12px;
}

.clientBox {
	float: left;
	width: 18px;
	height: 18px;
	background: rgba(123,204,196,0.5);
	margin-right: 12px;
}

.overviewBarTemp {
	width: auto;
	height: 36px;
	background: rgba(123,204,196,0.5);
}

.detailViewBarTemp {
	width: auto;
	height: 48px;
	background: rgba(123,204,196,0.5);
}

