body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

p {
	font-size: 12pt;
	font-weight: 300;
	color: rgb(40,40,40);
}

.hr {

}

.title {
	
}

.t1 {
	font-size: 18pt;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1.25pt;
}

.t2 {
	font-size: 14pt;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1pt;
}

.t3 {
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.75pt;
}

.t4 {
	font-weight: 700;
}

.p1 {

}

.p2 {
	font-size: 8pt;
}

.score1 {
	font-size: 60pt;
	font-weight: 900;
}

.score2 {
	font-weight: 100;
}

.gray {
	color: rgb(152,152,152);
}

.green {
	color: rgb(123,204,196);
}

.red {
	color: rgb(255,116,116);
}

.sessionInfo {
	
}

.coreInfo {

}

.pie {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: rgb(123,204,196);
}


