/* 
========================================
DEFAULT OVERRIDES
======================================== 
*/

body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

p {
	font-size: 12px;
	font-weight: 300;
	color: #333333;
}

hr {
	width: ;
}

/* 
========================================
TYPE
======================================== 
*/

.t1 {
	font-family: 'Raleway';
	font-size: 18pt;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1.25pt;
	margin-top: 32px;
}

.t2 {
	font-family: 'Raleway';
	font-size: 14pt;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1pt;
}

.t3 {
	font-family: 'Raleway';
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.75pt;
}

.t4 {
	font-family: 'Raleway';
	font-weight: 700;
}

.p1 {

}

.p2 {
	font-size: 8pt;
}

p.p2.gray {
	line-height: 0.85;
}

.totalScore1 {
	font-size: 60pt;
	letter-spacing: -5px;
	font-weight: 900;
}

.totalScore2 {
	font-weight: 100;
}

.plusMinus {
	font-weight: 900;
}

.w900 {
	font-weight: 900;
}

.pieText {
	text-align: center;
}

/* 
========================================
COLORS
======================================== 
*/

.blackBackground {
	background-color: #333333;
}

.black {
	color: #333333;
}

.gray {
	color: #878787;
}

.green {
	color: #13997A;
}

.red {
	color: #FF947F;
}

.greenFill {
	fill: #13997A;
}

.greenFill2 {
	fill: #22AA88;
}

.greenFill3 {
	fill: #25BB96;
}

.redFill {
	fill: #FF947F;
}

/* 
======================================== 
SECTION DIV CONTAINERS 
======================================== 
*/

.sessionInfo {
	
}

.coreInfo {

}

.behaviorCounts {

}

.sessionView {

}

/* 
========================================
CHARTS & GRAPHS 
======================================== 
*/

.axesShiftLeft {
	margin-right: -0.5px;
}

#d3RToQBar {

}

#d3RToQBarAxis {
	margin-top: -10px;
	margin-right: -1px;
}

.axisFloatContainer {
	float: right;
}

.d3RToQBarAxisColumn {
	display: inline-block;
	width: 33.3333333333%;
	text-align: right;
	float: right;
}

#d3PctOpenQuestionsBar {

}

#d3PctOpenQuestionsAxis {
	margin-top: -10px;
	margin-right: -1px;
}

.d3PctOpenQuestionsAxisColumnEmpty {
	display: inline-block;
	width: 30%;
	text-align: right;
	float: right;
}

.d3PctOpenQuestionsAxisColumnProficiency {
	display: inline-block;
	width: 20%;
	text-align: right;
	float: right;
}

.d3PctOpenQuestionsAxisColumnCompetency {
	display: inline-block;
	width: 49%;
	text-align: right;
	float: right;
}

#d3PctComplexReflectionsBar {
	
}

#d3PctComplexReflectionsAxis {
	margin-top: -10px;
	margin-right: -1px;
}

.d3PctComplexReflectionsAxisColumnEmpty {
	display: inline-block;
	width: 50%;
	text-align: right;
	float: right;
}

.d3PctComplexReflectionsAxisColumnProficiency {
	display: inline-block;
	width: 10%;
	text-align: right;
	float: right;
}

.d3PctComplexReflectionsAxisColumnCompetency {
	display: inline-block;
	width: 39%;
	text-align: right;
	float: right;
}



/* TEMP */

.pieChart {
	
}

.barChart {
	width: auto;
	height: 450px;
	background: #13997A;
}

.barTemp {
	width: auto;
	height: 18px;
	background: #13997A;
}

.therapistBox {
	float: left;
	width: 18px;
	height: 18px;
	background: #13997A;
	margin-right: 12px;
}

.clientBox {
	float: left;
	width: 18px;
	height: 18px;
	background: #333333;
	margin-right: 12px;
}

.overviewBarTemp {
	width: auto;
	height: 36px;
	background: #13997A;
}

.detailViewBarTemp {
	width: auto;
	height: 48px;
	background: #13997A;
}

